<!-- TELA LOGIN -->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
      
<head></head>

<body>
	<br/><br/>
	<div layout:fragment="content" style="border: 10px green solid; background-color: gray;" class="table table-striped table-responsive-md">
	<center>
    <form class="form-signin" th:action="@{/login}" th:object="${user}" method="post">
        <h2 class="form-signin-heading">LOGIN</h2>
        <h2 class="form-signin-heading">MerceariaPro</h2>
        <div style="color: red;" th:if="${param.error}">Usuário e/ou senha inválidos.</div>
        <br/>
        <div><input type="text" name="username" placeholder="login" autofocus="autofocus"/></div>
        <!-- <input type="text" id="inputUsername" name="username" class="form-control top" placeholder="login" required="required" autofocus="autofocus"/> -->
        <br/>
        <div><input type="password" name="password" placeholder="senha"/></div>
        <!--  <input type="password" id="inputPassword" name="password" class="form-control bottom" placeholder="senha" required="required"/> -->
        <br/>
        <div class="checkbox">
            <label>
                <input type="checkbox" name="remember-me"/> Lembrar senha
            </label>
        </div>
        <br/>
        <div><input type="submit" value="Sign In"/></div>
        <!-- <a href="http://localhost:8080/start">Acessar</a> -->
        <!-- <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button> -->
        
    </form>
    <br/>
    
    </center>
	</div>
	<div th:if="${param.logout}"><h2>Você encerrou seu acesso. Obrigado!</h2></div>

<!-- 
		<div th:if="${param.error}">
            Usuário e/ou senha inválidos.
        </div>
        <div th:if="${param.logout}">
            Você encerrou seu acesso. Obrigado!
        </div>
        <form th:action="@{/login}" method="post">
            <div><label> User Name : <input type="text" name="username"/> </label></div>
            <div><label> Password: <input type="password" name="password"/> </label></div>
            <div><input type="submit" value="Sign In"/></div>
        </form>
 -->
</body>

</html>